Customer feedback analyzer/Feedback collector.json
{
  "name": "Feedback collector",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Feedback",
        "formDescription": "Please give a feedback on our products and service.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name ",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your feedback about?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Products"
                  },
                  {
                    "option": "Services"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Your Feedback",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "How do we get in touch with you?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -144,
        0
      ],
      "id": "cc0ed3ce-6bab-4077-aa78-8e4cc1121a50",
      "name": "On form submission",
      "webhookId": "7d3548d3-6fc8-413e-a862-d00d78150259"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AovNpzbJ5zPjHu2g",
          "mode": "list",
          "cachedResultName": "Sentiment collector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        160,
        -256
      ],
      "id": "827d569d-33d1-4edf-b40d-2b4b42d77947",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        0
      ],
      "id": "3fdde980-7269-417d-af0a-8818de47c0cf",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lSrvidHNFlMnp-vwQG9U-t2QmlgtoHOLsdq9Tdmyv1Y/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lSrvidHNFlMnp-vwQG9U-t2QmlgtoHOLsdq9Tdmyv1Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.submittedAt }}",
            "Category": "={{ $json['What is your feedback about?'] }}",
            "Customer Feedback": "={{ $json['Your Feedback'] }}",
            "Customer Name": "={{ $json['Name '] }}",
            "Customer Contact": "={{ $json['How do we get in touch with you?'] }}",
            "Entered By": "Form",
            "Sentiment": "={{ $('Execute Workflow').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Feedback",
              "displayName": "Customer Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Contact",
              "displayName": "Customer Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entered By",
              "displayName": "Entered By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgent?",
              "displayName": "Urgent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        896,
        16
      ],
      "id": "32f89a80-a8ff-4a1a-95ff-7d887119063d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HlGwyMEl4OzV6LXW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['How do we get in touch with you?'] }}",
        "subject": "Thank You for yor feedback",
        "emailType": "text",
        "message": "={{ $('Execute Workflow1').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        -224
      ],
      "id": "fee3b247-6740-4039-85e9-78897e0325c1",
      "name": "Send a message",
      "webhookId": "3832f4d6-8961-44c2-9214-fdbf91aceb82",
      "credentials": {
        "gmailOAuth2": {
          "id": "elgxuDPaEjcbc6xH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wRiUjhKnIRu6jRlZ",
          "mode": "list",
          "cachedResultName": "Summarizer and categorizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        784,
        -240
      ],
      "id": "ce5be212-5fd6-4f8e-b2de-332877fbfd77",
      "name": "Execute Workflow1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf265095-453b-492f-a779-2536c5630a95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa3939d5de2bde4718192a97d524282cae92881f01994def90f3c14add562d72"
  },
  "id": "1dEFJogwhMGWTE3I",
  "tags": []
}