Customer feedback analyzer/Sentiment collector.json
{
  "name": "Sentiment collector",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "846136db-00ad-4540-a427-84d265350435",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the folllowing sentiment in customer feedback: {{ $json['Your Feedback'] }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        240,
        0
      ],
      "id": "89ab057d-9ea6-4f9f-a30d-b9a7b7b82932",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        208
      ],
      "id": "847bc682-a389-432b-a0c8-c1df27e876be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N70MN77crveBthoe",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "374f4d95-2e64-49df-b4e9-b600227f560b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa3939d5de2bde4718192a97d524282cae92881f01994def90f3c14add562d72"
  },
  "id": "AovNpzbJ5zPjHu2g",
  "tags": []
}